{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 119,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^@shared/(.*)$",
    "^@substrate/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrderSortSpecifiers": true
}
